<ion-content class="ion-padding ion-text-center">

  <div class="logo">
    <img src" "
  </div>

  <div class="form">
    <ion-item lines='none'>
      <ion-input aria-placeholder='Entrez votre adresse Email'></ion-input>
      </ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-input aria-placeholder='password' type='password'></ion-input>
      </ion-input>

      <ion-button color='dark' expend='block'>Login</ion-button>
  </div>
  <ion-button file='New? Sing up here'></ion-button>
</ion-content>
